services:
  postgres:
    image: postgres:16
    container_name: feedback_tracker_db
    restart: always
    environment:
      POSTGRES_USER: feedback_user
      POSTGRES_PASSWORD: feedback_pass
      POSTGRES_DB: feedback_tracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
